<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row mb-5">
        <div class="col-md-6 mx-auto p-5">
          <form [formGroup]="forms">
            <h4 class="text-center">Reactive Form</h4>
            <div class="form-group mb-4">
              <label class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                [class.is-valid]="
                  forms.get('firstName')?.valid &&
                  forms.get('firstName')?.touched
                "
                [class.is-invalid]="
                  forms.get('firstName')?.invalid &&
                  forms.get('firstName')?.touched
                "
              />
              <div
                *ngIf="
                  forms.get('firstName')?.invalid &&
                  forms.get('firstName')?.dirty
                "
              >
                <span
                  *ngIf="
                    forms.get('firstName')?.invalid &&
                    forms.get('firstName')?.dirty
                  "
                >
                  <p class="text-danger">This field is required</p>
                </span>
              </div>
            </div>
            <div class="form-group mb-4">
              <label class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="lastName"
                [class.is-valid]="
                  forms.get('lastName')?.valid && forms.get('lastName')?.touched
                "
                [class.is-invalid]="
                  forms.get('lastName')?.invalid &&
                  forms.get('lastName')?.touched
                "
              />
              <!-- Validation text -->
              <div
                *ngIf="
                  forms.get('lastName')?.invalid && forms.get('lastName')?.dirty
                "
              >
                <span
                  *ngIf="
                    forms.get('lastName')?.invalid &&
                    forms.get('lastName')?.dirty
                  "
                >
                  <p class="text-danger">This field is required</p>
                </span>
              </div>
            </div>
            <div class="form-group mb-4">
              <label class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                [class.is-valid]="
                  forms.get('email')?.valid && forms.get('email')?.touched
                "
                [class.is-invalid]="
                  forms.get('email')?.invalid && forms.get('email')?.touched
                "
              />
              <!-- Validation text -->
              <div
                *ngIf="forms.get('email')?.invalid && forms.get('email')?.dirty"
              >
                <span
                  *ngIf="
                    forms.get('email')?.invalid && forms.get('email')?.dirty
                  "
                >
                  <p class="text-danger">Invalid email</p>
                </span>
              </div>
            </div>
            <div class="form-group mb-4">
              <label class="form-label">Age</label>
              <input
                type="number"
                class="form-control"
                formControlName="age"
                [class.is-valid]="
                  forms.get('age')?.valid && forms.get('age')?.touched
                "
                [class.is-invalid]="
                  forms.get('age')?.invalid && forms.get('age')?.touched
                "
              />
              <!-- Validation text -->
              <div *ngIf="forms.get('age')?.invalid && forms.get('age')?.dirty">
                <span
                  *ngIf="forms.get('age')?.invalid && forms.get('age')?.dirty"
                >
                  <p class="text-danger">This field is required</p>
                </span>
              </div>
            </div>
            <div class="form-group mb-4">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                [class.is-valid]="
                  forms.get('password')?.valid && forms.get('password')?.touched
                "
                [class.is-invalid]="
                  forms.get('password')?.invalid &&
                  forms.get('password')?.touched
                "
              />
              <!-- Validation text -->
              <div
                *ngIf="
                  forms.get('password')?.invalid && forms.get('password')?.dirty
                "
              >
                <span
                  *ngIf="
                    forms.get('password')?.invalid &&
                    forms.get('password')?.dirty
                  "
                >
                  <p class="text-danger">This field is required</p>
                </span>
              </div>
            </div>
            <div class="d-grid">
              <button
                class="btn btn-primary"
                (click)="onSubmit()"
                [disabled]="forms.invalid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-6 mx-auto p-5">
          <form #templateform="ngForm">
            <h4 class="text-center">Template Driven Form</h4>
            <div class="form-group mb-4">
              <label class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="firstName"
                #first_name="ngModel"
                minlength="7"
                [class.is-valid]="first_name.value && first_name.dirty"
                [class.is-invalid]="first_name.invalid"
                name="firstName"
              />
              <div *ngIf="first_name.invalid && first_name.dirty">
                <span *ngIf="first_name?.errors?.['minlength']">
                  <p class="text-danger">Minimum length required is 7</p>
                </span>
              </div>
            </div>
            <div class="form-group mb-4">
              <label class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="lastName"
                #last_name="ngModel"
                minlength="7"
                [class.is-valid]="last_name.value && last_name.dirty"
                [class.is-invalid]="last_name.invalid"
                name="lastName"
              />
              <div *ngIf="first_name.invalid && first_name.dirty">
                <span *ngIf="first_name?.errors?.['minlength']">
                  <p class="text-danger">Minimum length required is 7</p>
                </span>
              </div>
            </div>
            <div class="form-group mb-4">
              <label class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="email"
                name="email"
              />
            </div>
            <div class="form-group mb-4">
              <label class="form-label">Age</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="age"
                name="age"
              />
            </div>
            <div class="form-group mb-4">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="password"
                name="password"
              />
            </div>
            <div class="d-grid">
              <button
                class="btn btn-primary"
                (click)="onSubmit()"
                [disabled]="templateform.invalid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
