<p>pipe works!</p>

<!-- <p>{{'hello world'| uppercase}}</p>
<p>{{date}}</p>
<p>{{date| date: 'short'}}</p>
<p>{{date| date: 'medium'}}</p>
<p>{{date| date: 'long'}}</p>
<p>{{date| date: 'full'}}</p>
<p>{{date| date: 'shortTime'}}</p>
<p>{{date| date: 'shortDate'}}</p>
<p>{{date| date: 'd/M/Y'}}</p>
<p>{{'Agriculture'| slice:4:11}}</p>
<p>{{4056780 | currency: 'GHS': 'symbol-narrow'}}</p>
<p>{{4056780 | currency: 'EUR': 'code'}}</p>
<p>{{3/4|percent}}</p>
<p>{{0.982|number: '3.1-2'}}</p> -->

<!-- <div *ngIf="name">
   <p>This is True</p>
</div> -->
<div [ngSwitch]="'hello'">
   <p *ngSwitchCase="'hello'">This is Hello</p>
   <p *ngSwitchCase="'hi'">This is Hi</p>
   <p *ngSwitchDefault>None</p>
</div>
<div [ngSwitch]="condition">
   <p *ngSwitchCase="color1">This is Red</p>
   <p *ngSwitchCase="color2">This is Yellow</p>
   <button (click)="changeBtn()">Change Element</button>
</div>